Package: me.dave.sledge
Name: Sledge
Depends: mobilesubstrate
Version: 1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Dave van Wijk
Author: Dave van Wijk
Section: Tweaks
